body{
	background-image: url(../image/fon.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: top;
	display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header{
	background-color: rgba(255, 255, 255, .15); /*прозрачность фона*/
	box-shadow: 0 3px 6px rgba(0, 0, 0, .32);  /*выделение блока тенью*/
	border-radius: 10px;					   /*скругление*/
}

footer{
	background-color: rgba(255, 255, 255, .15); /*прозрачность фона*/
	box-shadow: 0 3px 6px rgba(0, 0, 0, .32);  /*выделение блока тенью*/
	border-radius: 10px;					   /*скругление*/
}

.container{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;                         /*элемент ведёт себя как блочный и выкладывает содержимое согласно флекс-модели*/
	-ms-align-items: center;
	align-items: center;				   /*флексы выравниваются по линии поперечной оси*/
	justify-content: space-between;        /*флексы равномерно распределяются, первый и последний прижимаются к краям контейнера*/
	padding: 10px 0px;					   /*поля от верхнего и нижнего краёв, второе — от левого и правого*/
	box-shadow: 0px 0px 10px rgba(0,0,0,0.16); /*<сдвиг по x> <сдвиг по y> <размытие> <растяжение> <цвет> и rgb цвет с тенью 0-1*/
}

.logo{
	width: 70px;  		/*ширина изображения*/
	height: 70px; 		/*высота изображения*/
	padding: 10px;  	/*1 значение - поля будут установлены одновременно c каждого края элемента*/
	margin-left: 25px;
	margin-top: 8px;
}

.logoImg{
	transition: 1s;
	max-width: 100%; 		/*устанавливает размер картинки для сохранения пропорций*/
	display: inline-block;
	overflow: hidden; 		/*отображается только область внутри элемента, остальное будет скрыто*/
}

.logoImg img{
	display: block;
}

.logoImg:hover{
	transform: scale(0.9);		/*позволяет масштабировать элемент, вращать, сдвигать, наклонять, а также комбинировать*/
	transition: 0.5s;
}

.title{
	display: inline;		/*элемент отображается как строчный. Использование блочных элементов, таких, как <div> и <p>,*/
	text-decoration: none;						/*автоматически создаёт перенос и показывает их содержимое с новой строки*/
	font-size: 32px;	 	/*размер шрифта*/
	font-weight: 300;
	letter-spacing: 3px; 	/*отступы между буквами*/
	margin-left: 130px; 	/*правила такие же как у padding*/
	color: #76290F;
	animation: flicker 1.5s infinite alternate;

}

@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

h3{
	font-family: Raleway, sans-serif;
}

.menu{
	list-style-type: none;	/*отменяет маркеры для списка*/
	font-size: 18px;
	padding: 10px;
	margin-right: 15px;
	display: inline-block;
	overflow: hidden;
}

.menu li{
	display: inline-block;	/*Это значение генерирует блочный элемент, который обтекается другими элементами веб-страницы*/
	padding: 0 10px;		/*подобно строчному элементу. Фактически такой элемент по своему действию похож на встраиваемые*/
}							/*элементы. При этом его внутренняя часть форматируется как блочный элемент, а сам элемент — как строчный.*/

.menu li a{
	display: block;			/*элемент показывается как блочный*/
	text-decoration: none;	/*отменяет все эффекты, которые заданы по умолчанию*/
	color: #009B77;
	transition: 1s;
	display: block;
}

.menu li a:hover{			/*...при наведении на него курсора мыши...*/
	transition: 0.5s;
	transform: scale(0.98);
	color: darkgreen;
}

.containerFlex{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	padding: 10px 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.16);
	flex-wrap: wrap;
	flex: 1;
}

.scaleImg{
	width: 500px;  			/*ширина изображения*/
	height: 300px; 			/*высота изображения*/
	padding: 5px 15px;
	display: inline-block;
	overflow: hidden;
	transition: 0.5s;
}

.scaleImg img{
	display: block;
}

.scaleImg:hover{
	transform: scale(0.96);
	transition: 0.5s;
}

.amtsContainer{
	padding: 10px;
	text-align: justify; 				/*выравнивание текста по ширине*/
	text-decoration: none;				/*убирание лишних декалей*/
	text-overflow: clip;				/*пернос текста по словам, без обрезания*/
	flex: 1;
	height: auto;
}

.amtsText{
	background-color: rgba(0, 0, 0, .60);
	color: #fff;
	font-family: Raleway, sans-serif;	/*шрифт текста*/
	font-weight: 300;					/*жирность текста*/
	font-size: 18px;					/*размер текста*/
	padding: 15px;
	border-radius: 10px;
}